<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/reservation.css">
    <script src="../js/reservation.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<div id="reservation">
    <!-- 예약 안내 페이지 -->
    <div id="priorVisitCheck">
        <p>대충 예약 정보 안내 페이지</p>
        <button class="nextBtn">다음으로</button>
    </div>
    <!-- 개인 정보 수집 페이지 -->
    <div id="personalDataCollecting">
        <h2>예약을 위해 성함과 전화번호를 입력해주세요.</h2>
        <!-- 이름 -->
        <label for="name">이름:</label>
        <input type="text" id="name" name="name" required>

        <!-- 연락처 -->
        <label for="contact">연락처:</label>
        <input type="tel" id="contact" name="contact" pattern="[0-9]{11}" placeholder="01012345678" required>

        <!-- 개인정보 수집 동의 -->
        <form id="consentForm">
            <p>개인정보 수집 및 이용에 대한 동의 내용을 여기에 작성하세요.</p>
            <label for="agree">개인정보 수집 및 이용에 동의합니다.</label>
            <input type="checkbox" id="agree" name="agree" required>
        </form>

        <!-- 뒤로가기 및 앞으로가기 버튼 -->
        <button class="backBtn">뒤로가기</button>
        <button class="nextBtn">다음으로</button>
    </div>
    <!-- 예약 날짜 선택 페이지 -->
    <div id="visitDateSelection">
        <h2>방문 일정 선택</h2>

        <div id="reservationCalendar"></div>
        <div id="reservationTimeSlot" style="margin-top: 20px;"></div>

        <!-- 버튼 -->
        <button class="backBtn">뒤로가기</button>
        <button class="nextBtn">다음으로</button>
    </div>
    <!-- 예약 확인 페이지 -->
    <div id="confirmReservation">
        <h2>예약 확인</h2>

        <p><strong>이름:</strong> <span id="confirmedName">[이름]</span></p>
        <p><strong>연락처:</strong> <span id="confirmedContact">[연락처]</span></p>
        <p><strong>예약 날짜:</strong> <span id="confirmedDate">[예약 날짜]</span></p>



        <button class="backBtn">뒤로가기</button>
        <button class="nextBtn">예약 확정</button>
    </div>
</div>

</html>