* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
html,
body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column; /* 콘텐츠가 수직으로 배치되도록 설정 */
    min-height: 100vh;
}

body.blur {
    filter: blur(5px);
    pointer-events: none; /* 클릭 방지 */
}

main{
    flex: 1;
}


@media (max-width: 400px) {
    * {
        white-space: nowrap;
    }

    .reservation-form {
        overflow-x: auto;
    }
}