
<div class="info">
    <div class = "row">
        <div class="label">사업자</div><div class="value">홍길동</div>
        <div class="label">사업자등록번호</div><div class="value">000-00-00000</div>
    </div>
    <div class = "row">
        <div class="label">Tel</div><div class="value">02.387.7533</div>
        <div class="label">Fax</div><div class="value">02.581.1570</div>
    </div>
    <div class="row">
        <div class="label">주소</div><div class="value">경남 양산시 삼호로 70 웅상신도시 푸르지오 2층</div>
    </div>
</div>

<div class="links">
    <a href="/FrontEnd/pages/termsOfService/termsOfService.html?page=about">병원소개</a> |
    <a href="/FrontEnd/pages/termsOfService/termsOfService.html?page=privacyPolicy">개인정보취급방침</a> |
    <a href="/FrontEnd/pages/termsOfService/termsOfService.html?page=terms">이용약관</a> |
    <a href="/FrontEnd/pages/termsOfService/termsOfService.html?page=pricing">비급여수가 안내</a>
</div>
<p>© 대운한의원 all rights reserved.</p>