.faq-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20%;
}

.faq-container hr{
    margin: 30px 0;
}

.faq-title {
    text-align: center;
    font-size: 50px;
    margin: 30px;
}

.faq-item {
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    cursor: pointer;
    background: #fff;
    border: 1px solid #eee;
}

.faq-question.active {
    background: #f8fff8;
}

.question-text {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}


.dropdown-icon {
    transition: transform 0.3s ease;
    color: #666;
}

.active .dropdown-icon {
    transform: rotate(180deg);
    color: #00aa00;
}

.faq-answer {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.faq-answer hr{
    margin: 10px 0;
}

.faq-answer .Answer-icon{
    font-weight: bold;
}

.faq-answer.show {
    padding: 1.5rem;
    max-height: 500px;
}

@media (max-width: 768px) {
    .faq-container {
        padding: 1rem;
    }

    .faq-title {
        font-size: 2rem;
    }
}
