<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>대운 한의원</title>
    <!--CSS 파일-->
    <link rel="stylesheet" href="/pages/global.css">
    <link rel="stylesheet" href="thispage.css">
    <!--JavaScript 파일-->
    <script src="/pages/layout/layoutLoader.js"></script>
    <script src="/thispage.js"></script>
</head>

<body>
<div id="headerSection">
    <!-- Header Section -->
</div>

<main>
    <!-- main content -->

</main>


<footer>
    <!-- Footer Section -->
</footer>
</body>
</html>