.promo-container {
  position: relative;
  width: 100%;
}

.promo-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.promo-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}

#reserveButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .promo-text h1 {
    font-size: 24px;
  }

  #reserveButton {
    font-size: 16px;
  }
}
