/* 병원 소개 내용 컨테이너 스타일 */
.samplePage {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    height: 100%;
    padding: 20px;
    overflow-y: auto; /* 스크롤 가능 */
}

.samplePage p {
    margin: 10px 0; /* 텍스트 간격 */
    font-size: 20px;
}
